* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------TRANSITION SCREEN STYLES----------*/
#transition-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3000;
    opacity: 0;
    transition: opacity 5s ease;
    pointer-events: none;
}

/*----------CANVAS GAME STYLES----------*/
#game-container {
    width: 100%;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}